/*Desarrolado por Fernando Juárez Aldorica*/
:root{
	--rojoOscuro:#8C0000;
	--rojo:#BD2000;
	--rojoClaro:#FA1E0E;
	--amarillo:#FFBE0F;
	--negro:#000000;
	--blanco:#F4F9F4;
}

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
html{
	scroll-behavior: smooth;
}
body{
	background: white;
	overflow-x: hidden;
	font-family: 'Ubuntu', sans-serif
}

/*Ir Arriba | Inicio*/
.home{
	position:fixed;
	bottom:30px;
	right: -100%;
	width: 50px;
	height: 50px;
	display: flex;
	border:2px solid black;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition:400ms;
	z-index:9999;
	background:white;
}
.home:hover{
	background:var(--rojoClaro);
	border:2px solid white;
}
.home > span{
	font-size: 30px;
	color:black;
}
.home:hover > span{
	color:white;
}
/*Ir Arriba | Fin*/

/*Diagonal | Inicio*/
.diagonalAbajoRojoClaro{
	position:absolute;
	bottom: 0;
	left:0;
	border-width: 0 0 10vh 100vw;
	border-style: solid;
	border-color:transparent transparent var(--rojoClaro) transparent;
}
.diagonalAbajoBlanco{
	position:absolute;
	bottom: 0;
	left:0;
	border-width: 0 0 10vh 100vw;
	border-style: solid;
	border-color:transparent transparent var(--blanco) transparent;
}
.diagonalAbajoRojo{
	position:absolute;
	bottom: 0;
	left:0;
	border-width: 0 0 10vh 100vw;
	border-style: solid;
	border-color:transparent transparent var(--rojo) transparent;
}
.diagonalArriba{
	position:absolute;
	top:0;
	left:0;
	border-width: 10vh 100vw 0 0;
	border-style: solid;
	border-color: var(--rojo) transparent transparent transparent;
	z-index:10;
}
/*Diagonal | Fin*/

/*Menu Navegacion | Inicio*/
#header{
	position:relative;
	width:100%;
}
.menu{
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height: 60px;
	background:var(--amarillo);
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index:9999;
}
.menu .logoBox{
	margin-left: 60px;
}
.menu .logoBox h1 a{
	text-decoration: none;
	font-size: 40px;
	font-weight: 200;
	color:var(--negro);
}
.menu .contenedorLista{
	margin-right: 20px;
}
.menu .contenedorLista .listaLinks{
	display: flex;
}
.menu .contenedorLista .listaLinks li{
	list-style: none;
}
.menu .contenedorLista .listaLinks li a{
	text-decoration: none;
	margin: 0 10px;
	padding:8px;
	color: var(--negro);
	border-radius:25px;
	font-size: 20px;
	transition: 0.5s;
	cursor: pointer;
}
.menu .contenedorLista .listaLinks li a.activado{
	background:var(--rojoOscuro);
	color:var(--blanco);
}
.menu .contenedorLista .listaLinks li a:hover{
	background:var(--rojoOscuro);
	color:var(--blanco);
}
.botonResponsivo > .fa-caret-square-down{
	display:none;
}
/*Menu Navegacion | Fin*/

/*Bienvenida | Inicio*/
.imgBienvenida{
	position:relative;
	width: 100%;
	height: 100vh;
	background: url(../img/fondo.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}
.imgBienvenida .bienvenida{ /*ADAPTAR ESTO AL FOOTER*/
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height:100%;
	background: rgba(0,0,0,0.7);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.imgBienvenida .bienvenida h1{
	font-size: 100px;
	color:var(--blanco);
	font-weight: 200;
}
.imgBienvenida .bienvenida hr{
	width: 50%;
	height: 2px;
	background:var(--blanco);
	border:none;
	margin-top: 5px;
}
.imgBienvenida .bienvenida p{
	font-size: 50px;
	color:var(--blanco);
	margin-top:10px;
}
/*Bienvenida | Fin*/

/*Productos | Inicio*/
.productos{
	position: relative;
	width:100%;
	height:100%;
	background:var(--rojoClaro);
}
.productos .contenedorProductos{
	width: 90%;
	margin:auto;
	padding-top:100px;
}
.productos .contenedorProductos .tituloProductos{
	text-align: center;
	width:50%;
	margin:auto;
}
.productos .contenedorProductos .tituloProductos h2{
	font-size:50px;
	color:var(--blanco);
	font-weight: normal;
}
.productos .contenedorProductos .tituloProductos hr{
	width: 50%;
	height: 2px;
	background: var(--blanco);
	border: none;
	margin: 5px auto;
}
.productos .contenedorProductos .imgCategorias{
	width: 100%;
	display:flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top:80px;
	padding-bottom: 100px;
}
.productos .contenedorProductos .imgCategorias img{
	height:400px;
	margin:40px;
	object-fit: cover;
	border-radius: 10px;
	cursor: pointer;
	border: 5px solid var(--blanco);
}
.productos .contenedorProductos .imgCategorias a{
	width:500px;
	text-decoration: none;
}
.productos .contenedorProductos .imgCategorias a:visited{
	color:inherit;
	text-decoration: none;
}
/*Productos | Fin*/

/*Datos Geek | Inicio*/
.datosGeek{
	position: relative;
	width:100%;
	height:100%;
	background:var(--blanco);
}
.datosGeek .contenedorDatos{
	width: 90%;
	margin:auto;
	padding-top:100px;
}
.datosGeek .contenedorDatos .tituloDatos{
	width:50%;
	margin:auto;
	text-align: center;
}
.datosGeek .contenedorDatos .tituloDatos h2{
	font-size:50px;
	color:var(--negro);
	font-weight: normal;
}
.datosGeek .contenedorDatos .tituloDatos hr{
	width: 50%;
	height: 2px;
	background: var(--negro);
	border: none;
	margin: 5px auto;
}
.datosGeek .contenedorDatos .contenedorTarjetas{
	width:90%;
	margin:80px auto 0 auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-bottom: 80px;
}
.datosGeek .contenedorDatos .contenedorTarjetas .tarjetaDatos{
	width:30%;
	margin:40px 20px;
	align-items: center;

}
.datosGeek .contenedorDatos .contenedorTarjetas .tarjetaDatos .tarjetaImg{
	width:100%;
	display:flex;
	justify-content: center;
	align-items: center;
}
.datosGeek .contenedorDatos .contenedorTarjetas .tarjetaDatos .tarjetaImg img{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	object-fit: cover;
	cursor: pointer;
	border: 2px solid var(--negro);
	transition: 0.5s;
}
.datosGeek .contenedorDatos .contenedorTarjetas .tarjetaDatos .textoDatos{
	width: 100%;
	border: 2px solid var(--rojoOscuro);
	padding:20px;
	border-radius: 20px;
	cursor:pointer;
	transition: 0.5s;
}
.datosGeek .contenedorDatos .contenedorTarjetas .tarjetaDatos .textoDatos:hover{
	border: 2px solid var(--negro);
}
.datosGeek .contenedorDatos .contenedorTarjetas .tarjetaDatos .textoDatos{
	width: 75%;
	border: 2px solid var(--rojoClaro);
	padding:20px;
	border-radius: 20px;
	margin:30px auto;
}
.datosGeek .contenedorDatos .contenedorTarjetas .tarjetaDatos .textoDatos h4{
	color: var(--rojoOscuro);
	font-weight: normal;
	font-size:25px;
	text-align: center;
	margin-bottom: 20px;
	transition: 0.5s;
}
.datosGeek .contenedorDatos .contenedorTarjetas .tarjetaDatos .textoDatos:hover h4{
	color: var(--rojoClaro);
}
.datosGeek .contenedorDatos .contenedorTarjetas .tarjetaDatos .textoDatos p{
	font-size: 20px;
	color:var(--negro);
	text-align: center;
	line-height: 40px;
	transition: 200ms;
}
/*Datos Geek | Fin*/

/*Nosotros | Inicio*/
.nosotros{
	position: relative;
	width:100%;
	height:100%;
	background:var(--rojo);
}
.nosotros .contenedorNosotros{
	width: 80%;
	margin:auto;
	padding-top:100px;
	padding-bottom: 80px;
}
.nosotros .contenedorNosotros .tituloNosotros{
	width:50%;
	margin:auto;
	text-align: center;
}
.nosotros .contenedorNosotros .tituloNosotros h1{
	font-size:50px;
	color:var(--blanco);
	font-weight: normal;
}
.nosotros .contenedorNosotros .tituloNosotros hr{
	width: 50%;
	height: 2px;
	background: var(--blanco);
	border: none;
	margin: 5px auto;
}
.nosotros .contenedorNosotros .textoNosotros{
	margin: 80px auto;
	width: 80%;
	text-align: center;
}
.nosotros .contenedorNosotros .textoNosotros p{
	text-align: center;
	font-size:20px;
	color:var(--blanco);
	line-height: 40px;
	margin:30px 0px;
}
.nosotros .contenedorNosotros .textoNosotros .contacto{
	width:170px;
	height: 40px;
	background: var(--blanco);
	border-radius: 24px;
	border:none;
	outline: none;
	font-size: 20px;
	color:var(--rojoOscuro);
	text-align:center;
	margin:50px;
	cursor: pointer;
	transition: 0.5s;
}
.nosotros .contenedorNosotros .textoNosotros .contacto:hover{
	background: var(--amarillo);
	color:var(--rojoOscuro);
}
.nosotros .contenedorNosotros .textoNosotros .redesSociales{
	width:100%;
	margin:10px auto;
	text-align: center;
}
.nosotros .contenedorNosotros .textoNosotros .redesSociales a{
	text-align: center;
	font-size:35px;
	color:var(--blanco);
	line-height: 40px;
	margin:40px;
	transition: 0.5s;
}
.nosotros .contenedorNosotros .textoNosotros .redesSociales a:hover{
	color:var(--amarillo);
}
.nosotros .contenedorNosotros .galeriaNosotros{
	width: 100%;
	display:flex;
	justify-content: center;
	margin: 50px 0px;
	align-items: center;
}
.nosotros .contenedorNosotros .galeriaNosotros img{
	width: calc(33.33% - 10%);
	/*height: 300px;*/
	object-fit: cover;
	margin:25px;
	border-radius: 10px;
	cursor: pointer;
	border: 5px solid var(--blanco);
	transition: 0.5s;
}
/*Nosotros | Fin*/

/*Footer | Inicio*/
.footer{
	position:relative;
	width: 100%;
	height:100%;
	background: url(../img/fondo.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}
.footer .degradado{
	position:absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
}
.footer .footerPrincipal{
	position:relative;
	width: 100%;
	height: 100%;
	padding-top:200px;
	padding-bottom: 80px;
}
/*.footer .capaFooter{ 
	position: absolute;
	width:100%;
	height:100%;
	background:var(--rojo);
	background: rgba(0,0,0,0.7);
}
.footer .capaFooter .contenedorFooter{
	width: 80%;
	margin:auto;
	padding-top:100px;
	padding-bottom: 80px;
}*/

.footer .footerPrincipal .contenedorFooter .tituloFormulario{
	width:50%;
	margin:auto;
	text-align: center;
}
.footer .footerPrincipal .contenedorFooter .tituloFormulario h2{
	font-size:50px;
	color:var(--blanco);
	font-weight: normal;
}
.footer .footerPrincipal .contenedorFooter .tituloFormulario hr{
	width: 100%;
	height: 2px;
	background: var(--blanco);
	border: none;
	margin: 5px auto;
}
.footer .footerPrincipal .contenedorFooter .contenedorFormulario{
	margin: 80px auto;
	width: 60%;
	background:var(--blanco);
	border-radius: 20px;
	border:2px solid var(--rojoOscuro);
	padding:30px;
}
.footer .footerPrincipal .contenedorFooter .contenedorFormulario #formulario{
	display:flex;
	justify-content: center;
	flex-direction: column;
}
.footer .footerPrincipal .contenedorFooter .contenedorFormulario #formulario label{
	text-align: center;
	color:var(--negro);
	font-size:25px;
	margin:30px 0 10px 0;
}
.footer .footerPrincipal .contenedorFooter .contenedorFormulario #formulario input{
	width:80%;
	margin:auto;
	background:var(--rojoClaro);
	border-radius: 25px;
	outline:none;
	border:0;
	height: 40px;
	text-align: center;
	font-size:20px;
	color:var(--blanco);

}
.footer .footerPrincipal .contenedorFooter .contenedorFormulario #formulario textarea{
	width:80%;
	margin:auto;
	background:var(--rojoClaro);
	border-radius: 25px;
	outline: none;
	border:0;
	height: 200px;
	font-size:20px;
	color:var(--blanco);
	padding:20px;
	font-family: 'Ubuntu', sans-serif;
}
.footer .footerPrincipal .contenedorFooter .contenedorFormulario #formulario .enviar{
	width:100%;
	display: flex;
	justify-content: center;
	margin: 40px 0px;
}
.footer .footerPrincipal .contenedorFooter .contenedorFormulario #formulario .enviar button{
	width:150px;
	height: 35px;
	background: var(--rojoOscuro);
	border-radius: 25px;
	border:none;
	outline: none;
	font-size:20px;
	color:var(--blanco);
	text-align: center;
	margin-top: 20px;
	cursor: pointer;
	transition:0.5s; 
}
.footer .footerPrincipal .contenedorFooter .contenedorFormulario #formulario .enviar button:hover{
	background:var(--rojo);
}
.footer .footerPrincipal .contenedorFooter .contenedorFormulario #formulario .mensajeFormulario p{
	text-align: center;
	font-size:20px;
	color:var(--negro);
	line-height: 40px;
	margin:10px 0px;
}
.footer .footerPrincipal .footerTexto{
	position:absolute;
	bottom: 0;
	left:0;
	width: 100%;
	height: 60px;
	background:black;
	border-top:5px solid var(--rojoClaro);
	display:flex;
	justify-content: center;
	align-items: center;
}
.footer .footerPrincipal .footerTexto p{
	color:var(--blanco);
	font-size: 20px;
}*/
/*Footer | Fin*/

