/*Desarrolado por Fernando Juárez Aldorica*/
:root{
	--rojoOscuro:#8C0000;
	--rojo:#BD2000;
	--rojoClaro:#FA1E0E;
	--amarillo:#FFBE0F;
	--negro:#000000;
	--blanco:#F4F9F4;
}

/*Responsivo | Inicio*/
/*Laptops*/
@media only screen and (max-width: 900px){
	.botonResponsivo > .fa-caret-square-down{
		display:block;
		position:absolute;
		top:10px;
		right:30px;
		font-size:40px;
		cursor: pointer;
	}
	.botonResponsivo > .fa-caret-square-down:hover{
		color:var(--rojoOscuro);
	}
	.menu .contenedorLista{
		position: absolute;
		top:60px;
		left: -100%;
		width: 100%;
		height: calc(70vh - 60px);
		background:var(--amarillo);
		opacity:0.9;
	}
	.menu .contenedorLista .listaLinks{
		width:100%;
		height: 100%;
		display:flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		border-top: 5px solid black;
	}
	.menu .contenedorLista .listaLinks li{
		width:90%;
		margin:10px 0;
		border-bottom: 2px solid black;
		text-align: center;
		padding-bottom:15px;
		opacity: 1;
	}
	.menu .contenedorLista .listaLinks li a{
		font-size: 25px;
	}
	.menu .contenedorLista .listaLinks li a.activado{
		background:none;
		color:var(--rojoOscuro);
	}
	.menu .contenedorLista .listaLinks li a:hover{
		background:none;
		color:var(--rojoOscuro);
	}
	.footer .footerPrincipal .contenedorFooter .contenedorFormulario{
		width: 85%;
		padding:20px;
	}
	.footer .footerPrincipal .contenedorFooter .contenedorFormulario #formulario input{
		width:100%;
	}
	.footer .footerPrincipal .contenedorFooter .contenedorFormulario #formulario textarea{
		width:100%;
	}
}

/*Tablets*/
@media only screen and (max-width: 773px){
	.menu .logoBox{
		margin-left: 30px;
	}
	.imgBienvenida .bienvenida h1{
		font-size: 70px;
	}
	.imgBienvenida .bienvenida p {
		font-size: 30px;
	}
	.nosotros .contenedorNosotros .tituloNosotros hr{
		width: 80%;
	}
	.nosotros .contenedorNosotros .textoNosotros{
		width: 80%;
	}
	.nosotros .contenedorNosotros .galeriaNosotros{
		flex-direction: column;
	}
	.nosotros .contenedorNosotros .galeriaNosotros img{
		width: 80%;
		height: inherit;
	}
	.productos .contenedorProductos .tituloProductos hr{
		width: 80%;
	}
	.productos .contenedorProductos .imgCategorias img{
		height: 300px;
	}
	.datosGeek .contenedorDatos .tituloDatos hr{
		width:80%;
	}
	.nosotros .contenedorNosotros .textoNosotros .redesSociales a{
		margin:13px;
	}
	.nosotros .contenedorNosotros .tituloNosotros{
		width: 100%;
	}
}

@media only screen and (max-width: 590px){
	.imgBienvenida .bienvenida h1{
		font-size: 60px;
	}
	.imgBienvenida .bienvenida p {
		font-size: 25px;
	}
	.imgBienvenida .bienvenida hr{
		width: 60%;
	}
	.productos .contenedorProductos .tituloProductos{
		width: 100%;
	}
}

@media only screen and (max-width: 890px){
	.datosGeek .contenedorDatos .contenedorTarjetas .tarjetaDatos{
		width: 100%;
	}
	.datosGeek .contenedorDatos .contenedorTarjetas .tarjetaDatos .tarjetaImg img{
		width: 300px;
		height: 300px;
	}
	.datosGeek .contenedorDatos .contenedorTarjetas .tarjetaDatos .textoDatos h4{
		font-size:30px;
		color:var(--negro);
		font-weight: normal;
	}
	.datosGeek .contenedorDatos .contenedorTarjetas .tarjetaDatos .textoDatos p{
		font-size: 20px;
	}
}


/*Responsivo | Fin*/